body {
    /* font-family: Verdana, Arial, Helvetica, sans-serif */
}

.error {
    display: inline-block;
    background-color: crimson;
    color: white;
    padding: 0.3rem;
    margin-top: 0.3rem;
}

.success {
    display: inline;
    background-color: darkgreen;
    color: white;
    padding: 0.3rem;
    margin-top: 0.3rem;
}